h1,
h2 {
  color: #0C0D0F;
}

body {
  background-color: #d9c6bc;
  font-family: Poiret one;
}

#social_accounts img {
  width: 100px;
  padding-top: 50px;
  padding-right: 10px;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}